/bin
/obj
ProjectManagment/Api.Test.Integration/bin/Debug/net8.0/.msCoverageSourceRootsMapping_Api.Test.Integration

ProjectManagment/Api.Test.Integration/obj/Api.Test.Integration.csproj.nuget.dgspec.json

ProjectManagment/Api.Test.Integration/obj/Api.Test.Integration.csproj.nuget.g.props

ProjectManagment/Api.Test.Integration/obj/Api.Test.Integration.csproj.nuget.g.targets

ProjectManagment/Api.Test.Integration/obj/Debug/net8.0/Api.Test.Integration.AssemblyInfo.cs

ProjectManagment/Api.Test.Integration/obj/Debug/net8.0/Api.Test.Integration.AssemblyInfoInputs.cache

ProjectManagment/Api.Test.Integration/obj/Debug/net8.0/Api.Test.Integration.assets.cache

ProjectManagment/Api.Test.Integration/obj/Debug/net8.0/Api.Test.Integration.csproj.AssemblyReference.cache

ProjectManagment/Api.Test.Integration/obj/Debug/net8.0/Api.Test.Integration.GeneratedMSBuildEditorConfig.editorconfig

ProjectManagment/Api.Test.Integration/obj/project.assets.json

ProjectManagment/Api.Test.Integration/obj/project.nuget.cache

ProjectManagment/Api/obj/Api.csproj.nuget.dgspec.json

ProjectManagment/Api/obj/Api.csproj.nuget.g.props

ProjectManagment/Api/obj/Api.csproj.nuget.g.targets

ProjectManagment/Api/obj/Debug/net8.0/Api.AssemblyInfo.cs

ProjectManagment/Api/obj/Debug/net8.0/Api.AssemblyInfoInputs.cache

ProjectManagment/Api/obj/Debug/net8.0/Api.assets.cache

ProjectManagment/Api/obj/Debug/net8.0/Api.csproj.AssemblyReference.cache

ProjectManagment/Api/obj/Debug/net8.0/Api.GeneratedMSBuildEditorConfig.editorconfig

ProjectManagment/Api/obj/project.assets.json

ProjectManagment/Api/obj/project.nuget.cache

ProjectManagment/Application/obj/Application.csproj.nuget.dgspec.json

ProjectManagment/Application/obj/Application.csproj.nuget.g.props

ProjectManagment/Application/obj/Debug/net8.0/Application.AssemblyInfo.cs

ProjectManagment/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache

ProjectManagment/Application/obj/Debug/net8.0/Application.assets.cache

ProjectManagment/Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache

ProjectManagment/Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig

ProjectManagment/Application/obj/project.assets.json

ProjectManagment/Application/obj/project.nuget.cache

ProjectManagment/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs

ProjectManagment/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache

ProjectManagment/Domain/obj/Debug/net8.0/Domain.assets.cache

ProjectManagment/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig

ProjectManagment/Domain/obj/Domain.csproj.nuget.dgspec.json

ProjectManagment/Domain/obj/Domain.csproj.nuget.g.props

ProjectManagment/Domain/obj/project.assets.json

ProjectManagment/Domain/obj/project.nuget.cache

ProjectManagment/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs

ProjectManagment/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache

ProjectManagment/Infrastructure/obj/Debug/net8.0/Infrastructure.assets.cache

ProjectManagment/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache

ProjectManagment/Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig

ProjectManagment/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json

ProjectManagment/Infrastructure/obj/Infrastructure.csproj.nuget.g.props

ProjectManagment/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets

ProjectManagment/Infrastructure/obj/project.assets.json

ProjectManagment/Infrastructure/obj/project.nuget.cache

ProjectManagment/Test.Common/obj/Debug/net8.0/Test.Common.AssemblyInfo.cs

ProjectManagment/Test.Common/obj/Debug/net8.0/Test.Common.AssemblyInfoInputs.cache

ProjectManagment/Test.Common/obj/Debug/net8.0/Test.Common.assets.cache

ProjectManagment/Test.Common/obj/Debug/net8.0/Test.Common.csproj.AssemblyReference.cache

ProjectManagment/Test.Common/obj/Debug/net8.0/Test.Common.GeneratedMSBuildEditorConfig.editorconfig

ProjectManagment/Test.Common/obj/project.assets.json

ProjectManagment/Test.Common/obj/project.nuget.cache

ProjectManagment/Test.Common/obj/Test.Common.csproj.nuget.dgspec.json

ProjectManagment/Test.Common/obj/Test.Common.csproj.nuget.g.props

ProjectManagment/Test.Common/obj/Test.Common.csproj.nuget.g.targets

ProjectManagment/Test.Data/obj/Debug/net8.0/Test.Data.AssemblyInfo.cs

ProjectManagment/Test.Data/obj/Debug/net8.0/Test.Data.AssemblyInfoInputs.cache

ProjectManagment/Test.Data/obj/Debug/net8.0/Test.Data.assets.cache

ProjectManagment/Test.Data/obj/Debug/net8.0/Test.Data.csproj.AssemblyReference.cache

ProjectManagment/Test.Data/obj/Debug/net8.0/Test.Data.GeneratedMSBuildEditorConfig.editorconfig

ProjectManagment/Test.Data/obj/project.assets.json

ProjectManagment/Test.Data/obj/project.nuget.cache

ProjectManagment/Test.Data/obj/Test.Data.csproj.nuget.dgspec.json

ProjectManagment/Test.Data/obj/Test.Data.csproj.nuget.g.props

ProjectManagment/Api/bin/

ProjectManagment/Api/obj/

ProjectManagment/Api.Test.Integration/bin/

ProjectManagment/Api.Test.Integration/obj/

ProjectManagment/Application/bin/

ProjectManagment/Application/obj/

ProjectManagment/Domain/bin/

ProjectManagment/Domain/obj/

ProjectManagment/Infrastructure/bin/

ProjectManagment/Infrastructure/obj/

ProjectManagment/Test.Common/bin/

ProjectManagment/Test.Common/obj/

ProjectManagment/Test.Data/bin/

ProjectManagment/Test.Data/obj/
